# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


#unused files
hero.png
8-Bit-Character.svg
car-in.svg
cargo.svg
Cartop.svg
hud-battery.svg
obstacle-barrier.svg
bstacle-gate.svg
player.svg